@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base configuration for NativeWind */
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
  }
}

/* Custom Scrollbar for Web */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #020617; 
}

::-webkit-scrollbar-thumb {
  background: rgba(16, 185, 129, 0.4);
  border-radius: 10px;
}
